{
  "overrides": [
    {
      "files": ["pages/**/*.js", "type-definitions/**.d.ts"],
      "options": {
        "printWidth": 80,
        "trailingComma": "none",
        "singleQuote": false
      }
    }
  ],
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all"
}
